<style>
    body {
        background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/66172/neon-grid-hd-wallpapers-66172-5530351.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    .navbar {
        background-color: transparent !important;


    }

    .img-thumbnail {
        background: transparent !important;
        border: 0px solid transparent;
    }

    .make-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .twidth {
        max-width: 600px;
        width: 100%;
    }

    .container {
        background: #064453;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 75px;
    }

    h2 {
        color: #064453;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 5rem 0 3rem 0;
        text-align: center;
    }

    #question {
        color: white;
        min-height: 66px;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        padding: .5rem;
    }

    .currentScore {
        color: white;
        min-height: 66px;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        padding: .5rem;
    }

    .optnContainer {
        position: relative;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }

    .answer {
        color: #F2F2F2;
        background: #153B44;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        min-height: 51px;
        padding: 1rem;
        letter-spacing: 2px;
        text-transform: capitalize;
        margin-top: 3px;
        -webkit-transition: background 300ms;
        -o-transition: background 300ms;
        transition: background 300ms;
    }

    .answer:hover {
        cursor: pointer;
    }

    .incorrect {
        background: #CF1B1B;
    }

    .correct {
        background: #04a569;
    }

    .score {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        margin-top: 2rem;
        margin-left: 420px;
    }

    .score p {
        text-align: center;
        padding: .8rem;
        width: 50%;
        color: white;
        letter-spacing: 5px;
    }

    .logo {
        margin-top: 75px;
    }

    small {
        margin: 3rem 0 5rem 0;
        font-size: 12px;
        font-weight: 900;
        color: #232323;
    }

    .loading {
        position: absolute;
        background: white;
        opacity: .3;
        height: 100%;
        width: 100%;
        z-index: 99;
    }

    @-webkit-keyframes loadingicon {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes loadingicon {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .animation {
        position: absolute;
        top: 41%;
        left: 46%;
        width: 40px;
        height: 40px;
        opacity: 1;
        border-top: 5px solid #232323;
        border-bottom: 5px solid #232323;
        border-right: 5px solid rgba(255, 255, 255, 0);
        border-left: 5px solid rgba(255, 255, 255, 0);
        border-radius: 50%;
        z-index: 100;
        -webkit-animation-name: loadingicon;
        animation-name: loadingicon;
        -webkit-animation-duration: 400ms;
        animation-duration: 400ms;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-delay: 0;
        animation-delay: 0;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    #results {
        display: none;
        visibility: hidden;
    }
</style>

<div>

    <body>
        <iframe width="0" height="0" src="https://www.youtube.com/embed/vlEN8svyHj8?controls=0?rel=0&autoplay=1"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class="logo text-center img-thumbnail">
            <img src="https://fontmeme.com/permalink/200111/bacd36bc684cf0b846b598897dd552c6.png">
        </div>
        <class="make-flex">
            <h2> </h2>
            <div class="container twidth make-flex">
                <p id="question"></p>
                <div id="results">
                    <h1>Your Score - <span id="score"></span></h1>

                </div>
                <div class="optnContainer make-flex">

                </div>
                <p class="currentScore">Current Score - <span class="currentScore" id="userScore"></span></p>
            </div>
</div>