<style>
    body {
        background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/66172/neon-grid-hd-wallpapers-66172-5530351.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    .navbar {
        background-color: transparent !important;
    }

    .img-thumbnail {
        background: transparent !important;
        border: 0px solid transparent;
    }

    .make-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .twidth {
        max-width: 600px;
        width: 100%;
    }

    .container {
        background: #064453;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 75px;
    }

    h2 {
        color: #064453;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 5rem 0 3rem 0;
        text-align: center;
    }

    #question {
        color: white;
        min-height: 66px;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        padding: .5rem;
    }

    .currentScore {
        color: white;
        min-height: 66px;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        padding: .5rem;
    }

    .optnContainer {
        position: relative;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }

    .answer {
        color: #F2F2F2;
        background: #153B44;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        min-height: 51px;
        padding: 1rem;
        letter-spacing: 2px;
        text-transform: capitalize;
        margin-top: 3px;
        -webkit-transition: background 300ms;
        -o-transition: background 300ms;
        transition: background 300ms;
    }

    .answer:hover {
        cursor: pointer;
    }

    .logo {
        margin-top: 75px;
    }

    .btn {
        color: white !important;
        border: 3px solid white;
        border-radius: 0px;
        width: 150px;
        color: rgb(48, 45, 45);
        margin: 10px;
        background: transparent !important;
        font-size: 14px;
        border-radius: 5px;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(44, 231, 231), 0 0 40px rgb(12, 3, 90), 0 0 50px rgb(12, 3, 90), 0 0 60px rgb(12, 3, 90), 0 0 70px rgb(12, 3, 90);
        }

        to {
            text-shadow: 0 0 10px white, 0 0 20px #fff, 0 0 30px #064453, 0 0 40px rgb(4, 4, 97), 0 0 50px rgb(12, 3, 90), 0 0 60px rgb(4, 4, 97), 0 0 70px rgb(4, 4, 97);
        }
    }

    #results {
        display: none;
        visibility: hidden;
    }

    .resultContainer {
        display: none;
    }
</style>
<div>
    <!--
        <iframe width="0" height="0" src="https://www.youtube.com/embed/vlEN8svyHj8?controls=0?rel=0&autoplay=1"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            -->
    <div class="logo text-center img-thumbnail">
        <img src="https://fontmeme.com/permalink/200111/bacd36bc684cf0b846b598897dd552c6.png">
    </div>
    <class="make-flex">
        <h2> </h2>
        <div class="container twidth make-flex questionContainer">
            <p class="text-center currentScore">Time Remaining - <span id="timer"></span></p>
            <p id="question"></p>
            <p class="currentScore">Question Value - <span class="currentScore" id="scoreValue"></span> </p>
            <div id="results">
                <h1>Your Score - <span id="score"></span></h1>
            </div>
            <div class="optnContainer make-flex">
            </div>
            <p class="currentScore">Current Score - <span class="currentScore" id="userScore"></span></p>
        </div>
        <div class="container twidth make-flex resultContainer">
            <p class="currentScore text-center">Congratulations here is your score</p>
            <p class="currentScore text-center" id="finalScore"></p>
            <div class="text-center">
                <a href="home" class="btn btn-default btn-rounded mb-4 text-center" style="font-size: larger;">Home</a>
                <a href="daily" class="btn btn-default btn-rounded mb-4 text-center"
                    style="font-size: larger;">Leaderboard</a>
            </div>
        </div>
</div>
</div>
<script src="./js/game.js"></script>