<style>
    body {
        background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/66172/neon-grid-hd-wallpapers-66172-5530351.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }



    .navbar {
        background-color: transparent !important;


    }

    .img-thumbnail {
        background: transparent !important;
        border: 0px solid transparent;
    }

    .make-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .twidth {
        max-width: 600px;
        width: 100%;
    }

    .container {
        background: #064453;
        margin: 0 auto;
        text-align: center;
    }

    h2 {
        color: #064453;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 5rem 0 3rem 0;
        text-align: center;
    }

    #question {
        color: #2D6E7E;
        min-height: 66px;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        padding: .5rem;
    }

    .optnContainer {
        position: relative;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }

    .answer {
        color: #F2F2F2;
        background: #153B44;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        min-height: 51px;
        padding: 1rem;
        letter-spacing: 2px;
        margin-top: 3px;
        -webkit-transition: background 300ms;
        -o-transition: background 300ms;
        transition: background 300ms;
    }

    .answer:hover {
        cursor: pointer;
    }

    .incorrect {
        background: #CF1B1B;
    }

    .correct {
        background: #04a569;
    }

    .score {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        margin-top: 2rem;
        margin-left: 420px;
    }

    .score p {
        text-align: center;
        padding: .8rem;
        width: 50%;
        color: white;
        letter-spacing: 5px;
    }

    #resetscore {
        background: #064453;
        -webkit-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
    }

    #resetscore:hover {
        background: #194235;
        cursor: pointer;
    }

    #hscore {
        font-weight: 900;
        background: #064453;
        ;
    }

    #skip {
        padding: .8rem;
        margin-top: 3px;
        background: #064453;
        color: white;
        text-align: center;
        -webkit-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
        margin-left: 420px;
    }

    #skip:hover {
        background: #194235;
        cursor: pointer;
    }

    small {
        margin: 3rem 0 5rem 0;
        font-size: 12px;
        font-weight: 900;
        color: #232323;
    }

    .loading {
        position: absolute;
        background: white;
        opacity: .3;
        height: 100%;
        width: 100%;
        z-index: 99;
    }

    @-webkit-keyframes loadingicon {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes loadingicon {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .animation {
        position: absolute;
        top: 41%;
        left: 46%;
        width: 40px;
        height: 40px;
        opacity: 1;
        border-top: 5px solid #232323;
        border-bottom: 5px solid #232323;
        border-right: 5px solid rgba(255, 255, 255, 0);
        border-left: 5px solid rgba(255, 255, 255, 0);
        border-radius: 50%;
        z-index: 100;
        -webkit-animation-name: loadingicon;
        animation-name: loadingicon;
        -webkit-animation-duration: 400ms;
        animation-duration: 400ms;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-delay: 0;
        animation-delay: 0;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="d-flex w-50 order-0">
        <a class="navbar-brand mr-1"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#" id="signup-link" data-toggle="modal"
                    data-target=".bd-example-modal-lg-signup">Sign Up</a>
            </li>
            <div class="modal fade bd-example-modal-lg-signup" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div id="signup-page" class="modal-page">
                            <label for="basic-url" id="email-signup"> Username: </label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="displayName-input"
                                    aria-describedby="basic-addon3" placeholder="Display Username">
                            </div>
                            <label for="basic-url" id="email-signup">Email: </label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" id="email-input"
                                    aria-describedby="basic-addon3" placeholder="user@email.com">
                            </div>
                            <label for="basic-url" id="pw-signup">Password (must be at least 6 characters):
                            </label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="pw-input"
                                    aria-describedby="basic-addon3" placeholder="Password">
                            </div>
                            <div id="buttons">
                                <button type="button" class="btn btn-primary signup-button" id="signup-button"
                                    data-dismiss="modal">Sign
                                    Up</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="login-link" data-toggle="modal"
                    data-target=".bd-example-modal-lg-login">Log in</a>
            </li>
            <div class="modal fade bd-example-modal-lg-login" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div id="signup-page" class="modal-page">
                            <label for="basic-url" id="email-signup">Email: </label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" id="email-login-input"
                                    aria-describedby="basic-addon3" placeholder="User@email.com">
                            </div>
                            <label for="basic-url" id="pw-signup">Password:
                            </label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="pw-login-input"
                                    aria-describedby="basic-addon3" placeholder="Password">
                            </div>
                            <div id="buttons">
                                <button type="button" class="btn btn-primary login-button" id="login-button"
                                    data-dismiss="modal">Log In</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="dropdown-text"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" id="preferences-button" data-toggle="modal"
                        data-target="#accountModalCenter">Account</a>
                    <a class="dropdown-item" href="#" id="logout-button">Log Out</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="faq-button" data-toggle="modal"
                    data-target=".bd-example-modal-lg-faq">FAQ</a>
            </li>
        </ul>
    </div>
</nav>
<div>

    <body>
        <div class="logo text-center img-thumbnail">
            <img src="https://fontmeme.com/permalink/200111/bacd36bc684cf0b846b598897dd552c6.png">
        </div>
        <class="make-flex">
            <h2> </h2>
            <div class="container twidth make-flex">
                <p id="question"></p>
                <div class="optnContainer make-flex">
                    <p id="optn1" class="answer"></p>
                    <p id="optn2" class="answer"></p>
                    <p id="optn3" class="answer"></p>
                    <p id="optn4" class="answer"></p>
                    <div id="waiting"></div>
                    <div id="waitanim"></div>
                </div>
            </div>
            <div class="score twidth make-flex">
                <p id="hscore">0</p>
                <p id="resetscore">Scoreboard </p>
            </div>
            <p id="skip" class="twidth">Skip Question</p>
    </body>
</div>
</div>