<style>
    body {
        background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/66172/neon-grid-hd-wallpapers-66172-5530351.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }



    .button {
        padding: .8rem;
        margin-top: 3px;
        background: transparent;
        color: white;
        margin-left: 650px;
        margin-bottom: 50px;
    }





    .img-thumbnail {
        background: transparent !important;
        border: 0px solid transparent;
    }



    .table {
        color: white;
    }
</style>



<div>

    <body>
        <div class="logo text-center img-thumbnail">
            <img class="img-thumbnail" src="https://fontmeme.com/permalink/200111/b067326b9386d07b69cd2d261c62ecb1.png">
        </div>
        <br>
        <div class="container">
            <table class="table" id="score-table">
                <thead class="thead">
                    <tr>
                        <th scope="col">Place</th>
                        <th scope="col">Username</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- this is where the data will go --}}
                </tbody>
            </table>
        </div>
</div>

<script src="./js/leaderboardDaily.js"></script>