<style>
    body {
        background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/66172/neon-grid-hd-wallpapers-66172-5530351.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }



    .button {
        padding: .8rem;
        margin-top: 3px;
        background: transparent;
        color: white;
        margin-left: 650px;
        margin-bottom: 50px;
    }





    .img-thumbnail {
        background: transparent !important;
        border: 0px solid transparent;
    }



    .table {
        color: white;
    }
</style>



<div>


    <div class="logo text-center img-thumbnail">
        <img class="img-thumbnail" src="https://fontmeme.com/permalink/200111/b067326b9386d07b69cd2d261c62ecb1.png">
    </div>
    <a href="home" class="button">Home </a>



    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>384</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>500</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>3409</td>
            </tr>
        </tbody>
    </table>


</div>