<style>
    body {
        background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/66172/neon-grid-hd-wallpapers-66172-5530351.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }



    .navbar {
        background-color: transparent !important;


    }

    .container {
        margin: 0 auto;
        text-align: center;
        height: 100vh;
        width: 100vw;

    }

    .header {
        font-size: 50px;
        margin-top: 75px;
        margin-bottom: 150px;

    }

    #buttons {
        width: 80vw;
        margin-top: 35%;
        margin: 0 auto;
    }


    .button {
        color: white !important;
        border: 3px solid white;
        border-radius: 0px;
        width: 70vw;
        height: 75px;
        color: rgb(48, 45, 45);
        margin: 10px;
        background: transparent !important;
        font-size: 14px;
        border-radius: 5px;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(44, 231, 231), 0 0 40px rgb(12, 3, 90), 0 0 50px rgb(12, 3, 90), 0 0 60px rgb(12, 3, 90), 0 0 70px rgb(12, 3, 90);
        }

        to {
            text-shadow: 0 0 10px white, 0 0 20px #fff, 0 0 30px #064453, 0 0 40px rgb(4, 4, 97), 0 0 50px rgb(12, 3, 90), 0 0 60px rgb(4, 4, 97), 0 0 70px rgb(4, 4, 97);
        }
    }



    @media (min-width: 600px) {

        .button {
            width: 55vw;

        }

    }

    @media (min-width: 900px) {

        .header {
            margin-bottom: ;
        }

        .button {
            width: 23vw;
            height: 200px;

        }

        #blitz-text {
            padding: 60px 0px;
        }

        h2 {
            padding: 50px 0px;
        }
    }
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="d-flex w-50 order-0">
        <a class="navbar-brand mr-1"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#" id="signup-link" data-toggle="modal"
                    data-target=".bd-example-modal-lg-signup">Sign Up</a>
            </li>
            <div class="modal fade bd-example-modal-lg-signup" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div id="signup-page" class="modal-page">
                            <label for="basic-url" id="email-signup"> Username: </label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="username-input"
                                    aria-describedby="basic-addon3" placeholder="Display Username">
                            </div>

                            <label for="basic-url" id="email-signup">Email: </label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" id="email-input"
                                    aria-describedby="basic-addon3" placeholder="user@email.com">
                            </div>
                            <label for="basic-url" id="pw-signup">Password (must be at least 6 characters):
                            </label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="password-input"
                                    aria-describedby="basic-addon3" placeholder="Password">
                            </div>


                            <div id="buttons">
                                <button type="button" class="btn btn-primary signup-button" id="signup-button"
                                    data-dismiss="modal">Sign
                                    Up</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="login-link" data-toggle="modal"
                    data-target=".bd-example-modal-lg-login">Log in</a>
            </li>
            <div class="modal fade bd-example-modal-lg-login" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div id="signup-page" class="modal-page">
                            <label for="basic-url" id="email-signup">Email: </label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" id="login-email"
                                    aria-describedby="basic-addon3" placeholder="User@email.com">
                            </div>
                            <label for="basic-url" id="pw-signup">Password:
                            </label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="login-password"
                                    aria-describedby="basic-addon3" placeholder="Password">
                            </div>
                            <div id="buttons">
                                <button type="button" class="btn btn-primary login-button" id="login-button"
                                    data-dismiss="modal">Log In</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="dropdown-text"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" id="preferences-button" data-toggle="modal"
                        data-target="#accountModalCenter">Account</a>
                    <a class="dropdown-item" href="#" id="logout-button">Log Out</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="faq-button" data-toggle="modal"
                    data-target=".bd-example-modal-lg-faq">FAQ</a>
            </li>

        </ul>
    </div>
</nav>
<div>
    <div class="header text-center">
        <img src="https://fontmeme.com/permalink/200109/3f7cebc5db01fb545ce6704286038e6f.png">
    </div>

    <div class="menu text-center">
        <div class="text-center" id="buttons">

            <a href="blitz.handlebars" class="btn btn-dark button" type="button">
                <h2 id="blitz-text">10 Question Blitz</h2>

            </a>
            <a href="daily.handlebars" class="btn btn-dark button" type="button">
                <h2> Daily Leaderboard</h2>

            </a>
            <a href="weekly.handlebars" class="btn btn-dark button" type="button">
                <h2> Weekly Leaderboard</h2>

            </a>
        </div>
    </div>

</div>
</div>