<style>
    body {
        background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/66172/neon-grid-hd-wallpapers-66172-5530351.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    .navbar {
        background-color: transparent !important;


    }

    .container {
        margin: 0 auto;
        text-align: center;
        height: 100vh;
        width: 100vw;

    }

    .header {
        font-size: 50px;
        margin-top: 75px;
        margin-bottom: 150px;

    }

    #buttons {
        width: 80vw;
        margin-top: 35%;
        margin: 0 auto;
    }

    .button {
        color: white !important;
        border: 3px solid white;
        border-radius: 0px;
        width: 70vw;
        height: 75px;
        color: rgb(48, 45, 45);
        margin: 10px;
        background: transparent !important;
        font-size: 14px;
        border-radius: 5px;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(44, 231, 231), 0 0 40px rgb(12, 3, 90), 0 0 50px rgb(12, 3, 90), 0 0 60px rgb(12, 3, 90), 0 0 70px rgb(12, 3, 90);
        }

        to {
            text-shadow: 0 0 10px white, 0 0 20px #fff, 0 0 30px #064453, 0 0 40px rgb(4, 4, 97), 0 0 50px rgb(12, 3, 90), 0 0 60px rgb(4, 4, 97), 0 0 70px rgb(4, 4, 97);
        }
    }



    @media (min-width: 600px) {

        .button {
            width: 55vw;

        }

    }

    @media (min-width: 900px) {

        .header {
            margin-bottom: 250px;
        }

        .button {
            width: 23vw;
            height: 200px;

        }

        #blitz-text {
            padding: 60px 0px;
        }

        h2 {
            padding: 50px 0px;
        }
    }
</style>

<div>
    <div class="header text-center">
        <img src="https://fontmeme.com/permalink/200109/3f7cebc5db01fb545ce6704286038e6f.png">
    </div>

    <div class="menu text-center">
        <div class="text-center" id="buttons">

            <a href="blitz" class="btn btn-dark button" type="button">
                <h2 id="blitz-text">10 Question Blitz</h2>

            </a>
            <a href="daily" class="btn btn-dark button" type="button">
                <h2> Daily Leaderboard</h2>

            </a>
            <a href="weekly" class="btn btn-dark button" type="button">
                <h2> Weekly Leaderboard</h2>

            </a>
        </div>
    </div>

</div>