<style>
    body {
        background-image: url("https://cdn.dribbble.com/users/981298/screenshots/3816217/hexagon.gif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    .img-thumbnail {
        background: transparent !important;
        border: 0px solid transparent;
    }

    .containerlogin {
        margin-top: 162px;
        color: white;
    }

    .modal-content {
        background-color: #064453;
    }

    .containersignup {
        color: white;
    }

    .btn {
        color: white !important;
        border: 3px solid white;
        border-radius: 0px;
        width: 150px;
        color: rgb(48, 45, 45);
        margin: 10px;
        background: transparent !important;
        font-size: 14px;
        border-radius: 5px;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(44, 231, 231), 0 0 40px rgb(12, 3, 90), 0 0 50px rgb(12, 3, 90), 0 0 60px rgb(12, 3, 90), 0 0 70px rgb(12, 3, 90);
        }

        to {
            text-shadow: 0 0 10px white, 0 0 20px #fff, 0 0 30px #064453, 0 0 40px rgb(4, 4, 97), 0 0 50px rgb(12, 3, 90), 0 0 60px rgb(4, 4, 97), 0 0 70px rgb(4, 4, 97);
        }
    }
</style>

<!--
<iframe width="0" height="0" src="https://www.youtube.com/embed/vlEN8svyHj8?controls=0?rel=0&autoplay=1" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    -->
<div class="logo text-center img-thumbnail">
    <img src="https://fontmeme.com/permalink/200109/3f7cebc5db01fb545ce6704286038e6f.png">
</div>
<div class="containerlogin">
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Log-in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="login-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="login-password" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a href="home"><button class="btn btn-default">Login</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="index" class="btn btn-default btn-rounded mb-4 modal-btn" data-toggle="modal"
            data-target="#modalLoginForm" style="font-size: larger;">Log-In
        </a>
    </div>
</div>
<div class="containersignup">
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="username-input" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="email-input" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="password-input" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a href="/"><button class="btn btn-deep-orange" id="signup-button">Sign up</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="index" class="btn btn-default btn-rounded mb-4 modal-btn" data-toggle="modal"
            data-target="#modalRegisterForm" style="font-size: larger;">Sign-Up</a>
    </div>
</div>