<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="d-flex w-50 order-0">
        <a class="navbar-brand mr-1"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#" id="signup-link" data-toggle="modal"
                    data-target=".bd-example-modal-lg-signup">Sign Up</a>
            </li>
            <div class="modal fade bd-example-modal-lg-signup" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div id="signup-page" class="modal-page">
                            <label for="basic-url" id="email-signup"> Username: </label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="displayName-input"
                                    aria-describedby="basic-addon3" placeholder="Display Username">
                            </div>

                            <label for="basic-url" id="email-signup">Email: </label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" id="email-input"
                                    aria-describedby="basic-addon3" placeholder="user@email.com">
                            </div>
                            <label for="basic-url" id="pw-signup">Password (must be at least 6 characters):
                            </label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="pw-input"
                                    aria-describedby="basic-addon3" placeholder="Password">
                            </div>

                            <div id="buttons">
                                <button type="button" class="btn btn-primary signup-button" id="signup-button"
                                    data-dismiss="modal">Sign
                                    Up</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="login-link" data-toggle="modal"
                    data-target=".bd-example-modal-lg-login">Log in</a>
            </li>
            <div class="modal fade bd-example-modal-lg-login" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div id="signup-page" class="modal-page">
                            <label for="basic-url" id="email-signup">Email: </label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" id="email-login-input"
                                    aria-describedby="basic-addon3" placeholder="User@email.com">
                            </div>
                            <label for="basic-url" id="pw-signup">Password:
                            </label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="pw-login-input"
                                    aria-describedby="basic-addon3" placeholder="Password">
                            </div>
                            <div id="buttons">
                                <button type="button" class="btn btn-primary login-button" id="login-button"
                                    data-dismiss="modal">Log In</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="dropdown-text"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" id="preferences-button" data-toggle="modal"
                        data-target="#accountModalCenter">Account</a>
                    <a class="dropdown-item" href="#" id="logout-button">Log Out</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="faq-button" data-toggle="modal"
                    data-target=".bd-example-modal-lg-faq">FAQ</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card" style="width: 18rem;">
    <img src="/images/blitz.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">10 Questions Blitz</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary" id="Questions"> Go somewhere</a>
    </div>
</div>