body {
    background-color: #EF233C ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  .navbar {
    background-color: transparent !important;
   
}
/*  this is the color for the box within the sign up card */
.modal-page{
    padding: 30px;
    background-color: #ff3b3b;
}
/*  changing the color of the signup button*/
.signup-button{
background-color: #EF233C;
}
    
#Questinos{
    background-color: black;
}
/* image size*/
.card-img-top{
    width: auto;
    height: 300px;
    }
    /* imagez size for 2nd img */
    .card-img-toptwo{
        margin-top: auto;   
        height: 300px;
    }
    
    
    /* imagez size for 3rd img */
    .card-img-topthree{
        width: auto;
        height: 300px;
    }
    

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 300px;
  }

  /* card placement    */
  .card{    
    border:1px solid #d80404;
  }
 